name: Build & Release DayZ-Dma

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build_windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1

      - name: Build Solution
        run: msbuild dma-dayz-cpp.sln /p:Configuration=Release

      - name: Find Executable
        run: |
          dir /s /b *.exe

      - name: Package .exe
        run: |
          mkdir release
          copy /Y "**\\Release\\*.exe" release
          powershell Compress-Archive -Path release\* -DestinationPath DayZ-DMA.zip

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: DayZ-DMA.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
