name: Build & Release DayZ-Dma

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build_windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1

      - name: Download MapContent
        run: |
          curl -L -o mapcontent.rar "https://github.com/SoTMaulder/DayZ-Dma/releases/download/MapRelease/mapcontent.rar"

      - name: Extract MapContent
        run: |
          choco install -y 7zip
          7z x mapcontent.rar -aoa -o"dma-dayz-cpp"

      - name: Build Solution
        run: msbuild dma-dayz-cpp.sln /p:Configuration=Release

      - name: Package Build
        shell: powershell
        run: |
          mkdir release
          Copy-Item -Path ".\x64\Release\*.exe" -Destination ".\release" -Force
          Copy-Item -Path ".\dma-dayz-cpp\mapcontent" -Destination ".\release\mapcontent" -Recurse -Force
          Compress-Archive -Path release\* -DestinationPath DayZ-DMA.zip

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: DayZ-DMA.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
